$itemheader-color: dynamic($color);
$itemheader-background-color: dynamic(material-color('grey', '100'));
$itemheader-border-width: dynamic(null);
$itemheader-border-style: dynamic(null);
$itemheader-border-color: dynamic(null);
