/**
 * @class Ext.dataview.ListItem
 */

/**
 * @var {color} $listitem-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-color
 */

/**
 * @var {color} $listitem-hovered-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-hovered-color
 */

/**
 * @var {color} $listitem-selected-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-selected-color
 */

/**
 * @var {color} $listitem-pressed-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pressed-color
 */

/**
 * @var {color} $listitem-focused-color
 * ListItem text color when focused
 */

/**
 * @var {color} $listitem-pinned-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pinned-color
 */

/**
 * @var {color} $listitem-background-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-background-color
 */

/**
 * @var {color} $listitem-alt-background-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-alt-background-color
 */

/**
 * @var {color} $listitem-hovered-background-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-hovered-background-color
 */

/**
 * @var {color} $listitem-selected-background-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-selected-background-color
 */

/**
 * @var {color} $listitem-pressed-background-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pressed-background-color
 */

/**
 * @var {color} $listitem-focused-background-color
 * ListItem's background color when focused
 */

/**
 * @var {color} $listitem-pinned-background-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pinned-background-color
 */

/**
 * @var {number} $listitem-border-width
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-border-width
 */

/**
 * @var {string} $listitem-border-style
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-border-style
 */

/**
 * @var {color} $listitem-border-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-border-color
 */

/**
 * @var {color} $listitem-hovered-border-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-hovered-border-color
 */

/**
 * @var {color} $listitem-selected-border-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-selected-border-color
 */

/**
 * @var {color} $listitem-pressed-border-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pressed-border-color
 */

/**
 * @var {color} $listitem-focused-border-color
 * ListItem border color when focused
 */

/**
 * @var {color} $listitem-pinned-border-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pinned-border-color
 */

/**
 * @var {number} $listitem-focused-outline-width
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-focused-outline-width
 */

/**
 * @var {string} $listitem-focused-outline-style
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-focused-outline-style
 */

/**
 * @var {color} $listitem-focused-outline-color
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-focused-outline-color
 */

/**
 * @var {number} $listitem-focused-outline-offset
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-focused-outline-offset
 */

/**
 * @var {list} $listitem-pinned-box-shadow
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pinned-box-shadow
 */

/**
 * @var {list} $listitem-pinned-bottom-box-shadow
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pinned-bottom-box-shadow
 */

/**
 * @var {string/number} $listitem-font-weight
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-font-weight
 */

/**
 * @var {number} $listitem-font-size
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-font-size
 */

/**
 * @var {number} $listitem-font-size-big
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-font-size-big
 */

/**
 * @var {number} $listitem-selected-font-size
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-selected-font-size
 */

/**
 * @var {number} $listitem-selected-font-size-big
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-selected-font-size-big
 */

/**
 * @var {number} $listitem-pressed-font-size
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pressed-font-size
 */

/**
 * @var {number} $listitem-pressed-font-size-big
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-pressed-font-size-big
 */

/**
 * @var {number} $listitem-line-height
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-line-height
 */

/**
 * @var {number} $listitem-line-height-big
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-line-height-big
 */

/**
 * @var {string} $listitem-font-family
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-font-family
 */

/**
 * @var {number/list} $listitem-padding
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-padding
 */

/**
 * @var {number/list} $listitem-padding-big
 * @inheritdoc Ext.dataview.SimpleListItem#$listitem-padding-big
 */

/**
 * @sass-mixin listitem-ui
 */
