/**
 * @class Ext.d3.hierarchy.Hierarchy
 */

.#{$d3-prefix}hierarchy {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .#{$d3-prefix}link {
        fill: $d3-link-fill;
        stroke: $d3-link-stroke;
        stroke-width: $d3-link-stroke-width;
    }

    .#{$d3-prefix}node {
        cursor: default;

        fill: $d3-node-fill;
        stroke: $d3-node-stroke;
        stroke-width: $d3-node-stroke-width;

        .#{$d3-prefix}label {
            fill: $d3-node-label-fill;
            stroke: $d3-node-label-stroke;

            font-size: $d3-node-label-font-size;
            font-weight: $d3-node-label-font-weight;
            font-family: $d3-node-label-font-family;
        }

        &.#{$d3-prefix}parent {
            cursor: pointer;

            .#{$d3-prefix}label {
                fill: $d3-parent-nodel-label-fill;
                stroke: $d3-parent-nodel-label-stroke;

                font-size: $d3-parent-node-label-font-size;
                font-weight: $d3-parent-node-label-font-weight;
                font-family: $d3-parent-node-label-font-family;
            }
        }

        &.#{$d3-prefix}selected {
            fill: $d3-selection-fill;
            stroke: $d3-selection-stroke;
        }
    }
}
