//默认基础配置
$base-color: dynamic(#35baf6);
$base-border-color: dynamic(#ddd);
$font-weight: dynamic(400);
$font-weight-bold: dynamic(500);
//导航菜单样式配置
$panel-navigation-background-color: dynamic(#32404e);
$panel-navigation-item-line-height: dynamic(64px);
$panel-navigation-item-text-color: dynamic(#ADB3B8);

$progress-bar-background-color: dynamic(#458fd2);

//颜色 主要用与按钮
$color-blue: dynamic(#167abc);
$color-soft-cyan: dynamic(#03b4d5);
$color-soft-blue: dynamic(#2eadf5);
$color-soft-green: dynamic(#9cc96b);
$color-soft-orange: dynamic(#ffc107);
$color-soft-red: dynamic(#e44959);
$color-soft-purple: dynamic(#925e8b);
$color-gray: dynamic(#949495);
$color-green: dynamic(#16b603);

$lightest-color: dynamic(#fff);

