/**
 * @class Ext.calendar.form.CalendarPicker
 */

.#{$prefix}calendar-picker-list-icon, .#{$prefix}calendar-picker-field-icon {
    position: absolute;
}

.#{$prefix}calendar-picker-field .#{$prefix}form-text-wrap {
    position: relative;
}

@include ext-calendar-calendarpicker(
    $icon-spacing: $calendar-picker-icon-spacing
);