/**
 * @class Ext.calendar.view.Days
 */

.#{$prefix}calendar-days-table-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.#{$prefix}calendar-days-header-wrap {
    width: 100%;
    display: table-cell;
    position: relative;
}

.#{$prefix}calendar-days-body-row {
    display: table-row;
    width: 100%;
    height: 100%;
}

.#{$prefix}calendar-days-body-cell {
    display: table-cell;
    position: relative;
    width: 100%;

    .#{$prefix}gecko & {
        position: static;
    }
}

.#{$prefix}calendar-days-body-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.#{$prefix}calendar-days-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.#{$prefix}calendar-days-allday-events {
    position: relative;

    td {
        padding: 0;
    }
}

.#{$prefix}calendar-days-allday-background-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.#{$prefix}calendar-days-body-table {
    position: absolute;
    height: auto;

    td {
        padding: 0;
    }
}

.#{$prefix}calendar-days-time, 
.#{$prefix}calendar-days-allday-empty-cell {
    @include no-select;
}

.#{$prefix}calendar-days-day-column {
    position: relative;
    // Start a z-index stack for events inside us
    z-index: 0;
}

.#{$prefix}calendar-days-day-event-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.#{$prefix}calendar-days-now-marker {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
}

@include calendar-days-default-ui;
@include calendar-days-large-ui;
@include calendar-days-compact-ui;