.#{$prefix}d3-scroll {
    display: none;
    position: absolute;
    background: none;
    z-index: 5;
}

.#{$prefix}d3-hscroll {
    bottom: 0;
    width: 100%;
    height: $d3-scrollbar-width * 3;
}

.#{$prefix}d3-vscroll {
    right: 0;
    width: $d3-scrollbar-width * 3;
    height: 100%;
}

.#{$prefix}d3-scrollbar {
    position: absolute;
    background: $d3-scrollbar-color;
}

.#{$prefix}d3-hscrollbar {
    bottom: $d3-scrollbar-width;
    width: 100%;
    height: $d3-scrollbar-width;
    @include border-radius($d3-scrollbar-width / 2);
}

.#{$prefix}d3-vscrollbar {
    right: $d3-scrollbar-width;
    width: $d3-scrollbar-width;
    height: 100%;
    @include border-radius($d3-scrollbar-width / 2);
}

.#{$prefix}rtl {
    .#{$prefix}d3-vscroll {
        left: 0;
        right: auto;
    }
    .#{$prefix}d3-vscrollbar {
        left: $d3-scrollbar-width;
        right: auto;
    }
}