$d3-axis-label-fill: dynamic(#000);
$d3-axis-label-font-size: dynamic($font-size);
$d3-axis-label-font-weight: dynamic($font-weight);
$d3-axis-label-font-family: dynamic($font-family);

$d3-axis-title-fill: dynamic(#000);
$d3-axis-title-font-size: dynamic($font-size);
$d3-axis-title-font-weight: dynamic(bold);
$d3-axis-title-font-family: dynamic($font-family);

$d3-axis-line-stroke: dynamic(#000);
$d3-axis-line-stroke-width: dynamic(1);